.container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.input {
    margin: 20px 0;
}

.input input {
    width: 100px;
    height: 30px;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
}

.buttons {
    margin: 20px 0;
}

.buttons button {
    width: 100px;
    height: 30px;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    cursor: pointer;
}