.container {
    width: 500px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 10px;
}

.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input input {
    width: 80%;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.input button {
    width: 15%;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.display button {
    width: 15%;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.list {
    margin-top: 10px;
    display: block;
}

.list ul {
    list-style-type: none;
    padding: 0;
}

.list ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}

.list ul li button {
    width: 15%;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.list ul li button:hover {
    background-color: #45a049;
}